	body{
	background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(headway-537308-unsplash.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	overflow-x:hidden;
	height:1200px;
}
	h1{
		font-size:40px;
		color: #355C0D;
		text-align:center;
}

h2{
	position:absolute;
	top:150px;
	font-size:30px;
	color:#21b75e;
		text-align:left;

}
	footer{
		position:absolute;
		left:0px;
		display:block;
		background-color:#75bed6;
		margin-top:8px;
		text-align:left;
		color:#220AC0;
		padding:7px;
		width:99%;
		font-size:20px;	
}
	
	.nav ul li{
	float:left;
	list-style-type:none;
}

.nav ul li a{
   display:;
   	color:#f1d30d;
	font-size:25px;
	padding:8px 138px; 
	text-decoration:none;
}

.Signup-page {
  width: 360px;
  margin: auto;
}


.form {
  position: absolute;
  top:225px;
  left:450px;
  z-index: 1;
 background:
    linear-gradient(
    rgba(35,43,85,0.75),
    rgba(35,43,85,0.95)),
    url(https://dl.dropboxusercontent.com/u/22006283/preview/codepen/clouds-cloudy-forest-mountain.jpg) no-repeat center center;
  max-width: 300px;
  height: 750px;
  margin: 0 auto 100px;
  padding: 60px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


.form input {
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: rgba(16,89,255, 1);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.login-form ul li input{
 display:block;	
  overflow: hidden;
 list-style-type: none;


}
.login-form ul li {
 float:left;
 padding-left:10px;
 padding-bottom:20px;
 padding-right:55px;
 display:block;	
  overflow: hidden;

}
.login-form ul li input{
display:block;	
}	
	
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


.form button a{
  color: #FFFFFF;

}