	body{
	background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(headway-537308-unsplash.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	overflow-x:hidden;
}
	h1{
		font-size:40px;
		color: #80b8da;
		text-align:center;
}
	footer{
		position:absolute;
		left:0px;
		display:block;
		background-color:#75bed6;
		margin-top:8px;
		text-align:left;
		color:#220AC0;
		padding:7px;
		width:99%;
		font-size:20px;	
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
	
	.nav ul li{
	float:left;
	list-style-type:none;
}

.nav ul li a{
   display:;
   	color:##b8a6cc;
	font-size:25px;
	text-decoration:none;
}


